/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-nov-2019, 23:54:20
    Author     : LENOVO 720
*/



    /* Así agregamos el estilo a todo */
body{
        font-family: 'Lato', sans-serif;
    } 
    #textAreaTop1{
        width: 99%;
        height: 150px;
        background-color: white;
    }
      #textAreaTop2{
        width: 99%;
        height: 150px;
        background-color: white;
    }
      #textAreaTop3{
        width: 99%;
        height: 150px;
        background-color: white;
    }.contenedor {
        margin-top: 70px;

}
